<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Webtitle>Blog</Webtitle>
  <WebDescription>JeryBlog 记录日常工作知识</WebDescription>
  <Logo>/content/image/logo.png</Logo>
  <WebPath>/</WebPath>
  <IndexPagerCount>10</IndexPagerCount>
  <CatePagerCount>10</CatePagerCount>
  <CommentPagerCount>10</CommentPagerCount>
  <NotePagerCount>10</NotePagerCount>
  <ForumPagerCount>30</ForumPagerCount>
  <ThreadPagerCount>30</ThreadPagerCount>
  <DecorateImgCount>50</DecorateImgCount>
  <ThumbnailInfo>200x200,85x85</ThumbnailInfo>
  <DefaultLang>zh-cn</DefaultLang>
  <VersionNo>20140821110910</VersionNo>
  <MaxSummaryCharCount>200</MaxSummaryCharCount>
  <AdminEmail>jeryhu1029@126.com</AdminEmail>
  <SmtpServer>smtp.gmail.com</SmtpServer>
  <SmtpUser>Jery</SmtpUser>
  <SmtpPass>xxx</SmtpPass>
  <SmtpPort>587</SmtpPort>
  <IfSendReplyEmail>1</IfSendReplyEmail>
  <IfWebStatic>2</IfWebStatic>
  <IfHtmlCreated>1</IfHtmlCreated>
  <WebStaticFolderPart1>static</WebStaticFolderPart1>
  <WebStaticFolderPart2>{year}/{month}</WebStaticFolderPart2>
  <WebStaticFolder>static/{lang}/{year}/{month}</WebStaticFolder>
  <WebLangList>
    <string>zh-cn</string>
    <string>zh-tw</string>
    <string>en-us</string>
  </WebLangList>
  <UserPermission>false</UserPermission>
  <IfValidateCode>true</IfValidateCode>
  <IfPagingAjax>true</IfPagingAjax>
  <IfIndependentContentViaLang>2</IfIndependentContentViaLang>
  <WebContentLang>all</WebContentLang>
  <LangTemplateStr>[{"Lang":"zh-cn","Template":""},{"Lang":"zh-tw","Template":""},{"Lang":"en-us","Template":"bs3"}]</LangTemplateStr>
  <MaxCategoryId>78</MaxCategoryId>
</GeneralConfigInfo>